.searchBoxStyle {
    margin: auto;
    width: 50%;
    padding: 10px;
}
.simpleSearchTainmentTitle {
    margin: auto;
    width: 50%;
    padding: 10px;
}

.posterImageSize {
    width: 200px;
    height: 250px;
}